header.headerBlog {
    .background {
        background-image: url("../assets/blog-image-1.jpg");
        height: 40vh;
        background-position: center;
        background-size: cover;
        position: relative;
        bottom: 0;
        left: 0;
        h1 {
            @include fontSize(3rem);
            font-family: "Lora", serif;
            position: absolute;
            bottom: -90px;
            left: 140px;
        }
    }
}

.blogContainer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    .asideFlex {
        display: flex;
        flex-direction: column;
        width: calc(100%/3);
        height: 100vh;
        aside{
        width: 100%;
        margin-bottom: 25px;
        padding: 20px;
        background-color: white;
        }
    }
    .articleFlex {
        display: flex;
        flex-direction: column;
        width: calc((100%/3 * 2) - 20px);
        article {
        margin-left: 20px;
        padding: 20px;
        background-color: white;
        border-bottom: 4px solid $primary;
        }
    }  
}

.aboutSophie {
    height: 100vh;
    aside img {
    display: block;
    }
}

h4 {
    margin-top: 10px;
}

aside li {
    list-style-type: circle;
    list-style-position: inside;
    @include fontSize(1rem);
    font-weight: normal;
    margin-top: 10px;
}


.reviewContainer {
    width: calc((100%/3 * 2) - 20px);
    margin-top: 25px;
    margin-left: calc(100%/3 + 20px);
    background-color: white;
    border-bottom: 5px solid $primary;
    margin-bottom: 25px;
    .jeremy {
        display: flex;
        .imgContainer {
            width: 30%;
            padding: 10px;
        }
    }
    .julia {
        display: flex;
        .imgContainer {
            width: 30%;
            padding: 10px;
        }
    }
}

.formContainer {
    width: calc((100%/3 * 2) - 20px);
    margin-top: 25px;
    margin-left: calc(100%/3 + 20px);
}