@import "fonts";
nav {
    background-color: $primary;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            @include fontSize(1rem);
            line-height: 1.45rem;
            text-transform: uppercase;
            text-align: center;
            padding: 10px 20px;
            .highlight {
                color: $accentWhite;
                }
            }
        }
    }

.logo {
    @include fontSize(2rem);
    font-family: "Lora", serif;
    margin: 0;
}

header .nav {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 1.5rem;
    color: white;
    visibility: hidden;
}