@import "setup";
@import "generalStyles";
@import "fonts";
@import "colorPalette";
@import "nav";

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: $primary;
    height: 80vh;
}

.headerContent {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .imgContainer {
        height: 500px;
        width: 400px;
        img {
            box-shadow: 15px 15px 1px white;
        }
    }
}

.titleContainer {
    position: relative;
    top: 0;
    left: 0;
    h1 {
        @include fontSize(5rem);
        font-family: "Lora", serif;
        text-transform: uppercase;
    }
    img {
        height: 100px;
        width: 165px;
        position: absolute;
        top: 0;
        left: -40px;
    }
}







