@import "setup";
@import "generalStyles";
@import "fonts";
@import "colorPalette";
@import "nav";
@import "blogSection";
@import "contactSection";
@import "form";

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

/* Main Page Styles */
.headerMain {
    background-color: $primary;
    height: 85vh;
}

.headerNav {
    position: relative;
    top: 0;
    right: 0;
    i {
        position: absolute;
        top: 25px;
        right: 0px;
        font-size: 1.6rem;
        color: black;
        visibility: hidden;
    }
}

.headerContent {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .imgContainer {
        height: 500px;
        width: 400px;
        img {
            box-shadow: 15px 15px 1px white;
        }
    }
}

.titleContainer {
    position: relative;
    top: 0;
    left: 0;
    img {
        height: 100px;
        width: 165px;
        position: absolute;
        top: 30px;
        left: -40px;
    }
}

/* BIO section styling */

.bioSection {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
        width: 85%;
    }
}

/* ABOUT Section styling */ 
.aboutSection {
    background-color: white;
    .aboutFlexContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        }
    }

/* I chose to use Box-Shadows over Positioning for the following section to improve the responsive design user experience as the page scales down.  I found positioning these parts to be exactly like the design led to the elements having a very fractured journey when the screen sized down. */

.doodle {
    width: 40%;
    img {
        box-shadow: -150px 30px 1px $accentRust;        
    }
}
.umbrellas{
    width: 40%;
    img {
        box-shadow: 150px 30px 1px $primary;
    }
}
.aboutSection {
    .textContainer.favThings {
    width: 40%;
    padding: 25px;
    margin-left: 50px;
    text-align: left;    
    }
}
.aboutFlexContainer {
    .textContainer {
        width: 40%;
        padding: 25px;
        margin-right: 50px;
        text-align: right;
    }
}

/* Service Section Styling */ 
.iconBox {
    height: 50px;
    width: 50px;
    background-color: $primary;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
        text-align: center;
        font-size: 25px;
    }
}

.servicesSection {
    margin: 100px 0;
    .flexContainer {
        display: flex;
        margin-bottom: 40px;
        .container {
            width: calc(50% - 25px);
            margin-left: 25px;
        }
    }
}

.imgBreak {
    background-image: url(..//../assets/home-image-4.jpg);
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 50px;
}

/* Journey Section Styling */ 
.journeySection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    .imgContainer {
        width: 30%;
        img {
            box-shadow: 15px 15px 1px $primary;
        }
    }
    article {
        width: calc(70% - 20px);
        margin-left: 40px;
        padding: 20px;
    }
}

.gallery {
    background-color: white;
    padding: 50px 0;
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
}

/* Footer Section Styling */ 
footer {
    background-color: $accentGrey;
    text-align: center;
    p {
        color: white;
        margin: 0;
        padding: 10px 0;
    }
}

/* MEDIA QUERIES */ 
@media (max-width: 980px) {
    h1 {
        font-size: 5rem;
        line-height: 5.6rem;
    }

    .headerContent .imgContainer {
        height: 400px;
        width: 350px;
        img {
        box-shadow: 10px 10px 1px white;
        }
    }

    .headerContent .titleContainer img {
        height: 80px;
        width: 120px;
        left: -25px;
    }

    .aboutSection {
        .textContainer{
        padding: 0;
        }
    }

    .doodle, 
    .umbrellas {
        height: 40vh;
    }

    .journeySection article {
        width: calc(66% - 50px);
        margin: 25px 0px 25px 50px;
    }

/* Blog Page Media Queries (Max-Width: 980px) */
    header.headerBlog {
        .background {
            h1 {
                left: 92px;
                bottom: -57px;
            }
        }
    }

/* Contact Page Media Queries (Max-Width: 980px)*/ 
    header.headerContact {
        .background {
            h1 {
                left: 96px;
                bottom: -100px;
            }
        }
    }
}


@media (max-width: 768px) {
    .headerMain {
        height: 70vh;
    }

    .titleContainer {
        h1 {
            margin-top: 50px;
        }
    }

    .hideMobile {
    display: none;
    }

    .headerNav {
    position: relative;
    top: 0;
    right: 0;
    i {
        position: absolute;
        top: 25px;
        right: 25px;
        font-size: 1.6rem;
        color: black;
        visibility: visible;
        }
    }

    .headerContent .imgContainer {
        height: 300px;
        width: 100%;
    img {
    box-shadow: 5px 5px 1px white;
        }
    }

    h2 {
        font-size: 1.8rem;
    }

    h3{
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1rem;
    }

    p, span {
        font-size: 0.8rem;
        line-height: 1.3rem;
    }

    button {
        font-size: 0.8rem;
    }

    .bioSection {
        p {
            width: 100%;
        }
    }

    .aboutSection {
        .textContainer.favThings {
            margin: 0;
            width: 50%;
        }
        .textContainer.travelled {
            margin-right: 25px;
            width: 50%;
        }
    }

    .journeySection {
        article {
            width: 70%;
            margin-left: 25px;
        }
    }

    .gallery {
        padding: 25px 0;
    }

    /* Blog Section Media Queries (Max-Width: 768px) */
    .headerBlog {
        .headerNav {
        height: 10vh;
        position: relative;
        top: 0;
        right: 0;
            i {
            position: absolute;
            top: 25px;
            right: 25px;
            font-size: 1.6rem;
            color: black;
            visibility: visible;
            }
        }
    }

    .blogContainer {
        flex-direction: column-reverse;
        .asideFlex {
            width: 100%;
            text-align: center;
            margin-right: 0;
            img {
                margin: 0 auto;
            }
            aside {
                text-align: center;
                padding: 20px;
            }
        }
    }

    .aboutSophie {
        margin: 0;
        margin-right: 0;
    }

    .asideFlex {
        .recentPosts {
            margin-right: 0; 
            }
        }
    
    .recentPosts {
        ul {
            width: 50%;
            margin: 0 auto;
            li {
                text-align: left;
            }
        }
    }

    .blogContainer {
        .articleFlex {
            width: 100%;
            margin: 0;
            margin-left: 0;
        }
    }

    .reviewContainer {
        width: 100%;
        margin: 25px 0;
        .reviewText {
            padding: 5px;
        }
    }

/* Contact Section Media Queries (Max-Width: 768px) */
    .headerContact {
        .headerNav {
        height: 10vh;
        position: relative;
        top: 0;
        right: 0;
            i {
            position: absolute;
            top: 25px;
            right: 25px;
            font-size: 1.6rem;
            color: black;
            visibility: visible;
            }
        }
    }

    .contactContainer {
        flex-direction: column;
        aside {
            width: 100%;
            margin-bottom: 25px;
            text-align: center;
            margin-right: 0;
        }
        .formContainer {
        width: 100%;
        }
    }    
}

@media (max-width: 650px) {
    h1 {
    font-size: 3.8rem;
    line-height: 4.3rem;
    margin: 0;
    }
    .headerContent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

    .headerContent {
        .imgContainer {
            display: flex;
            justify-content: center;
        }
    }

    .titleContainer img {
        display: none;
    }

    .aboutSection {
        .aboutFlexContainer {
            height: 100vh;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }

    .aboutSection {
        .textContainer.favThings {
            padding: 0;
            margin-left: 0;
            margin-top: 75px;  
        }
    }

    .aboutFlexContainer {
        .textContainer {
            padding: 0;
            margin-right: 0;
        }
    }

        .aboutFlexContainer{
        .textContainer.favThings,
        .textContainer.travelled {
            width: 80%;
            text-align: center;
        }
    }

    .aboutFlexContainer{
    .textContainer.travelled {
        margin-right: 0;
        margin-top: 0;
        }
    }

    .imgContainer.doodle {
        width: 80%;
        margin: 0;
        img {
            box-shadow: -10px 30px 1px $accentRust;
        }
    }

    .imgContainer.umbrellas {
        width: 80%;
        margin: 0;
        img {
            box-shadow: 10px 30px 1px $primary;
            margin-top: 25px;
        }
    }

    .servicesSection {
        .flexContainer {
            flex-direction: column-reverse;
            margin: 0;
            text-align: center;
            .container {
                width: 100%;
                margin-left: 0;
            }
        }
    }

    .iconBox {
        align-self: center;
        margin: 20px 0;
    }

    .imgBreak {
        height: 40vh;
    }

    .journeySection {
        flex-direction: column;
        article {
            width: 100%;
            margin: 0;
            text-align: center;
        }
        .imgContainer {
            width: inherit;
        }
    }

/* Blog Section Media Queries (Max-Width: 650px) */
    header.headerBlog{
        .background {
            h1 {
            bottom: -40px;
            left: 70px;
            }
        }
    }

    .recentPosts {
        ul {
            width: 60%;
            margin: 0 auto;
            li {
                text-align: left;
            }
        }
    }

    input {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    textarea {
        display: block;
        width: 100%;
    }
/* Contact Section Media Queries (Max-Width: 650px) */
    header.headerContact{
        .background {
            h1 {
                bottom: -40px;
                left: 70px;
            }
        }
    }
}

@media (max-width: 375px) {
    h1 {
    font-size: 3rem;
    line-height: 3.8rem;
    margin: 0;
    }

    .bioSection {
        height: inherit;
        margin: 50px 0;
        text-align: center;
    }
    .aboutSection {
        .aboutFlexContainer {
            height: 100vh;
            margin-top: 0;
        }
    }

    .doodle, .umbrellas {
        height: 20vh;
    }

    .journeySection {
        article{
            padding: 0;
        }
    }

    .gallery {
        ul {
        display: flex;
        flex-direction: column;    
        }
    }

    /* Blog Section Media Queries (Max-Width: 375px) */
    .recentPosts {
        margin-right: 0;
        padding: 10px;
        ul {
            width: 100%;
        }
    }

    .reviewContainer {
        .julia, .jeremy {
            .imgContainer {
                display: none;
            }
        }
    }

    /* Contact Section Media Queries (Max-Width: 375px) */ 
        header.headerContact{
        .background {
            h1 {
                bottom: -80px;
                left: 80px;
            }
        }
    }
}