@import "setup";
@import "generalStyles";
@import "fonts";
@import "colorPalette";
@import "nav";

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: $primary;
}




