html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  font-size: 5rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 4.6rem;
  font-family: "Lora", serif;
  text-transform: uppercase;
}

h2 {
  font-size: 2.1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 10px 0;
}

h3 {
  font-size: 1.6rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  font-size: 1.2rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: normal;
  line-height: 1.6;
}

time {
  font-size: 1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: normal;
  font-style: italic;
}

span {
  font-size: 1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #285e64;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  border: 1px solid grey;
}

html {
  font-size: 125%;
}

body {
  font-size: 16px;
  background-color: #f0efed;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

button {
  font-size: 1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.6rem;
  background-color: #05afc1;
  color: #2c2c2c;
  width: 200px;
  padding: 5px;
  margin-top: 10px;
}

h1 {
  font-size: 5rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 4.6rem;
  font-family: "Lora", serif;
  text-transform: uppercase;
}

h2 {
  font-size: 2.1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 10px 0;
}

h3 {
  font-size: 1.6rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  font-size: 1.2rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: normal;
  line-height: 1.6;
}

time {
  font-size: 1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: normal;
  font-style: italic;
}

span {
  font-size: 1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #285e64;
}

h1 {
  font-size: 5rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 4.6rem;
  font-family: "Lora", serif;
  text-transform: uppercase;
}

h2 {
  font-size: 2.1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 10px 0;
}

h3 {
  font-size: 1.6rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  font-size: 1.2rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: normal;
  line-height: 1.6;
}

time {
  font-size: 1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: normal;
  font-style: italic;
}

span {
  font-size: 1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #285e64;
}

nav {
  background-color: #f6a823;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav ul li {
  font-size: 1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.45rem;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 20px;
}
nav ul li .highlight {
  color: #f0efed;
}

.logo {
  font-size: 2rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Lora", serif;
}

.headerBlog {
  height: 50vh;
  background-image: url(../../assets/blog-image-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
}
.headerBlog h1 {
  font-size: 3rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Lora", serif;
  position: absolute;
  bottom: -90px;
  left: 50px;
}

.blogContainer {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blogContainer .asideFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blogContainer article {
  margin-left: 20px;
  padding: 20px;
  width: calc(66% - 20px);
  background-color: white;
  border-bottom: 4px solid #f6a823;
}

.asideFlex {
  width: 33%;
  padding: 20px;
}
.asideFlex aside {
  width: 100%;
  margin-top: 10px;
  padding: 20px;
  background-color: white;
}

h4 {
  margin-top: 10px;
}

aside li {
  list-style-type: circle;
  list-style-position: inside;
  font-size: 1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: normal;
  margin-top: 10px;
}

.reviewContainer {
  width: 66%;
  margin-top: 25px;
  margin-left: 33%;
  background-color: white;
  border-bottom: 5px solid #f6a823;
}
.reviewContainer .jeremy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviewContainer .jeremy .imgContainer {
  width: 30%;
  padding: 10px;
}
.reviewContainer .julia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviewContainer .julia .imgContainer {
  width: 30%;
  padding: 10px;
}

.formContainer {
  width: 66%;
  margin-top: 25px;
  margin-left: 33%;
}

.headerContact {
  height: 50vh;
  background-image: url(../../assets/blog-image-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  bottom: 0;
  left: 0;
}
.headerContact h1 {
  font-size: 3rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Lora", serif;
  position: absolute;
  bottom: -90px;
  left: 140px;
}

.contactContainer {
  height: 50vh;
  margin: 50px 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside {
  width: calc(100%/3 - 50px);
  height: 35vh;
  padding: 40px 20px;
  margin-right: 50px;
  background-color: white;
}
aside i {
  color: #f6a823;
  font-size: 1.2rem;
  padding: 10px 15px 10px 0;
}
aside a {
  font-size: 0.8rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: normal;
  margin-top: 5px;
}
aside address {
  font-size: 0.8rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: normal;
  font-style: normal;
  margin-top: 5px;
}

.formContainer {
  width: calc(100%/3 * 2);
  margin: 0 auto;
  padding: 0;
}

form {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px 0px;
}

input {
  width: calc(50% - 10px);
  margin-right: 5px;
  padding: 10px;
  font-style: italic;
}

textarea {
  width: calc(100% - 10px);
  margin-top: 10px;
  padding: 10px;
  font-style: italic;
}

button [type=submit] {
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

/* Main Page Styles */
.headerMain {
  background-color: #f6a823;
  height: 85vh;
}

.headerContent {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerContent .imgContainer {
  height: 500px;
  width: 400px;
}
.headerContent .imgContainer img {
  -webkit-box-shadow: 15px 15px 1px white;
          box-shadow: 15px 15px 1px white;
}

.titleContainer {
  position: relative;
  top: 0;
  left: 0;
}
.titleContainer img {
  height: 100px;
  width: 165px;
  position: absolute;
  top: 0;
  left: -40px;
}

.bioSection {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bioSection p {
  width: 80%;
}

.aboutSection {
  height: 100vh;
}
.aboutSection .aboutFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
}
.aboutSection .aboutFlexContainer .imgContainer {
  width: 50%;
  height: 40vh;
  background-color: #a82706;
  position: relative;
  top: 0;
  left: 0;
}
.aboutSection .aboutFlexContainer .imgContainer img {
  width: 80%;
  position: absolute;
  top: -20px;
  right: 15px;
}

.textContainer {
  width: 50%;
  padding: 50px;
}
.textContainer h3 {
  margin: 10px 0;
}

.iconBox {
  height: 50px;
  width: 50px;
  background-color: #f6a823;
  border: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.iconBox i {
  text-align: center;
  font-size: 20px;
}

.servicesSection {
  margin-top: 50px;
}
.servicesSection .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.servicesSection .flexContainer .container {
  width: calc(50% - 50px);
  margin: 0px 20px 20px;
}

.imgBreak {
  background-image: url(..//../assets/home-image-4.jpg);
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 50px;
}

.journeySection {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}
.journeySection aside {
  width: 33%;
}
.journeySection aside img {
  -webkit-box-shadow: 15px 15px 1px #f6a823;
          box-shadow: 15px 15px 1px #f6a823;
}
.journeySection article {
  width: 66%;
}

.gallery {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  margin-top: 50px;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallery ul li {
  width: calc(100%/3 - 20px);
}

footer {
  background-color: #4f4f4f;
  text-align: center;
}
footer p {
  color: white;
}