@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  font-size: 6rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 6.8rem;
  font-family: "Lora", serif;
  text-transform: uppercase;
}

h2 {
  font-size: 2.1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 10px 0;
}

h3 {
  font-size: 1.6rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  font-size: 1.2rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Scaled down paragraph font size to be more in line with provided design*/
p {
  font-size: 0.8rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: normal;
  line-height: 1.28;
  margin-top: 15px;
}

time {
  font-size: 1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: normal;
  font-style: italic;
}

span {
  font-size: 1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #285e64;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

html {
  font-size: 125%;
}

body {
  font-size: 16px;
  background-color: #f0efed;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

/* Scaled down button font size to be more in line with provided design*/
button {
  font-size: 0.8rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.28rem;
  letter-spacing: 1px;
  background-color: #05afc1;
  color: #2c2c2c;
  width: 175px;
  padding: 10px;
  margin-top: 25px;
  text-transform: uppercase;
  border-style: none;
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
}

.skipLink:focus {
  left: 0;
}

h1 {
  font-size: 6rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 6.8rem;
  font-family: "Lora", serif;
  text-transform: uppercase;
}

h2 {
  font-size: 2.1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 10px 0;
}

h3 {
  font-size: 1.6rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  font-size: 1.2rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Scaled down paragraph font size to be more in line with provided design*/
p {
  font-size: 0.8rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: normal;
  line-height: 1.28;
  margin-top: 15px;
}

time {
  font-size: 1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: normal;
  font-style: italic;
}

span {
  font-size: 1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #285e64;
}

h1 {
  font-size: 6rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 6.8rem;
  font-family: "Lora", serif;
  text-transform: uppercase;
}

h2 {
  font-size: 2.1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 10px 0;
}

h3 {
  font-size: 1.6rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  font-size: 1.2rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Scaled down paragraph font size to be more in line with provided design*/
p {
  font-size: 0.8rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: normal;
  line-height: 1.28;
  margin-top: 15px;
}

time {
  font-size: 1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: normal;
  font-style: italic;
}

span {
  font-size: 1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #285e64;
}

nav {
  background-color: #f6a823;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav ul li {
  font-size: 1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.45rem;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 20px;
}
nav ul li .highlight {
  color: #f0efed;
}

.logo {
  font-size: 2rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Lora", serif;
  margin: 0;
}

header .nav {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 1.5rem;
  color: white;
  visibility: hidden;
}

header.headerBlog .background {
  background-image: url("../assets/blog-image-1.jpg");
  height: 40vh;
  background-position: center;
  background-size: cover;
  position: relative;
  bottom: 0;
  left: 0;
}
header.headerBlog .background h1 {
  font-size: 3rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Lora", serif;
  margin: 0;
  position: absolute;
  bottom: -70px;
  left: 120px;
}

.headerNav {
  position: relative;
  top: 0;
  right: 0;
}
.headerNav i {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 1.6rem;
  color: black;
  visibility: hidden;
}

.blogContainer {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogContainer .asideFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: calc(100%/3);
}
.blogContainer .asideFlex aside {
  width: 100%;
  margin-bottom: 25px;
  background-color: white;
  height: inherit;
}
.blogContainer .asideFlex aside span {
  font-size: 0.8rem;
}
.blogContainer .articleFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100%/3 * 2);
  margin-left: 25px;
}
.blogContainer .articleFlex article {
  padding: 20px;
  background-color: white;
  border-bottom: 4px solid #f6a823;
}

/* Scaled down blog font size to be more in line with provided design and to keep HTML semantic */
.blogContainer .articleFlex h2 {
  font-size: 1.8rem;
}

.asideFlex .aboutSophie {
  height: 90vh;
}
.asideFlex .aboutSophie aside img {
  display: block;
}
.asideFlex .aboutSophie h3 {
  font-size: 1.2rem;
  margin-top: 20px;
}

aside li::before {
  content: "●";
  color: #f6a823;
  margin-right: 8px;
}

.recentPosts {
  height: inherit;
}
.recentPosts h3 {
  font-size: 1.2rem;
  margin-top: 20px;
}

.recentPosts ul li {
  font-size: 0.8rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: normal;
  padding-top: 10px;
  margin-left: 10px;
}

.italic {
  font-style: italic;
}

article p {
  padding: 10px 0;
}

.reviewContainer {
  width: calc((100%/3 * 2) - 20px);
  margin-top: 25px;
  margin-left: calc(100%/3 + 20px);
  margin-bottom: 25px;
}
.reviewContainer .jeremy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}
.reviewContainer .jeremy .imgContainer {
  width: 40%;
  padding: 20px;
}
.reviewContainer .julia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  background-color: white;
  border-bottom: 5px solid #f6a823;
}
.reviewContainer .julia .imgContainer {
  width: 40%;
  padding: 20px;
}

.reviewContainer .reviewText {
  padding: 20px;
}
.reviewContainer .reviewText span {
  font-style: italic;
  font-size: 0.8rem;
}
.reviewContainer .reviewText p {
  font-style: normal;
  margin: 0;
  padding: 5px 20px;
}

form button {
  width: 100%;
}

header.headerContact .background {
  background-image: url("../assets/contact-image-1.jpg");
  background-size: cover;
  background-position: center;
  height: 40vh;
  position: relative;
  bottom: 0;
  left: 0;
}
header.headerContact .background h1 {
  font-size: 3rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Lora", serif;
  position: absolute;
  bottom: -100px;
  left: 140px;
}

.headerNav {
  position: relative;
  top: 0;
  right: 0;
}
.headerNav i {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 1.6rem;
  color: black;
  visibility: hidden;
}

.contactContainer {
  height: inherit;
  margin: 75px 0 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside {
  width: calc(100%/3 - 50px);
  height: 35vh;
  padding: 40px 30px;
  margin-right: 50px;
  background-color: white;
}
aside i {
  color: #f6a823;
  font-size: 1.2rem;
  padding: 10px;
}
aside .email {
  font-weight: bold;
  font-size: 1rem;
  padding-bottom: 20px;
}
aside a {
  font-size: 0.8rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: normal;
  margin-top: 5px;
}
aside address {
  font-size: 0.8rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: normal;
  font-style: normal;
  margin-top: 5px;
}

.formContainer {
  width: calc(100%/3 * 2);
  margin: 0 auto;
  padding: 0;
}
.formContainer button {
  width: 100%;
}

form {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px 0px;
}

input {
  width: calc(50% - 10px);
  margin-right: 5px;
  padding: 10px;
  font-style: italic;
  border-style: none;
}

textarea {
  width: calc(100% - 10px);
  margin: 10px 0;
  padding: 10px;
  font-style: italic;
  resize: none;
  border-style: none;
}

button [type=submit] {
  width: 100%;
  border-style: none;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

/* Main Page Styles */
.headerMain {
  background-color: #f6a823;
  height: 85vh;
}

.headerNav {
  position: relative;
  top: 0;
  right: 0;
}
.headerNav i {
  position: absolute;
  top: 25px;
  right: 0px;
  font-size: 1.6rem;
  color: black;
  visibility: hidden;
}

.headerContent {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerContent .imgContainer {
  height: 500px;
  width: 400px;
}
.headerContent .imgContainer img {
  -webkit-box-shadow: 15px 15px 1px white;
          box-shadow: 15px 15px 1px white;
}

.titleContainer {
  position: relative;
  top: 0;
  left: 0;
}
.titleContainer img {
  height: 100px;
  width: 165px;
  position: absolute;
  top: 30px;
  left: -40px;
}

/* BIO section styling */
.bioSection {
  height: 55vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bioSection p {
  width: 85%;
}

/* ABOUT Section styling */
.aboutSection {
  background-color: white;
}
.aboutSection .aboutFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

/* I chose to use Box-Shadows over Positioning for the following section to improve the responsive design user experience as the page scales down.  I found positioning these parts to be exactly like the design led to the elements having a very fractured journey when the screen sized down. */
.doodle {
  width: 40%;
}
.doodle img {
  -webkit-box-shadow: -150px 30px 1px #a82706;
          box-shadow: -150px 30px 1px #a82706;
}

.umbrellas {
  width: 40%;
}
.umbrellas img {
  -webkit-box-shadow: 150px 30px 1px #f6a823;
          box-shadow: 150px 30px 1px #f6a823;
}

.aboutSection .textContainer.favThings {
  width: 40%;
  padding: 25px;
  margin-left: 50px;
  text-align: left;
}

.aboutFlexContainer .textContainer {
  width: 40%;
  padding: 25px;
  margin-right: 50px;
  text-align: right;
}

/* Service Section Styling */
.iconBox {
  height: 50px;
  width: 50px;
  background-color: #f6a823;
  border: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.iconBox i {
  text-align: center;
  font-size: 25px;
}

.servicesSection {
  margin: 100px 0;
}
.servicesSection .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
.servicesSection .flexContainer .container {
  width: calc(50% - 25px);
  margin-left: 25px;
}

.imgBreak {
  background-image: url(..//../assets/home-image-4.jpg);
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 50px;
}

/* Journey Section Styling */
.journeySection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.journeySection .imgContainer {
  width: 30%;
}
.journeySection .imgContainer img {
  -webkit-box-shadow: 15px 15px 1px #f6a823;
          box-shadow: 15px 15px 1px #f6a823;
}
.journeySection article {
  width: calc(70% - 20px);
  margin-left: 40px;
  padding: 20px;
}

.gallery {
  background-color: white;
  padding: 50px 0;
}
.gallery ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

/* Footer Section Styling */
footer {
  background-color: #4f4f4f;
  text-align: center;
}
footer p {
  color: white;
  margin: 0;
  padding: 10px 0;
}

/* MEDIA QUERIES */
@media (max-width: 980px) {
  h1 {
    font-size: 5rem;
    line-height: 5.6rem;
  }

  .headerContent .imgContainer {
    height: 400px;
    width: 350px;
  }
  .headerContent .imgContainer img {
    -webkit-box-shadow: 10px 10px 1px white;
            box-shadow: 10px 10px 1px white;
  }

  .headerContent .titleContainer img {
    height: 80px;
    width: 120px;
    left: -25px;
  }

  .aboutSection .textContainer {
    padding: 0;
  }

  .doodle,
.umbrellas {
    height: 40vh;
  }

  .journeySection article {
    width: calc(66% - 50px);
    margin: 25px 0px 25px 50px;
  }

  /* Blog Page Media Queries (Max-Width: 980px) */
  header.headerBlog .background h1 {
    left: 92px;
    bottom: -57px;
  }

  /* Contact Page Media Queries (Max-Width: 980px)*/
  header.headerContact .background h1 {
    left: 96px;
    bottom: -100px;
  }

  .contactContainer aside {
    height: inherit;
    width: calc(100%/3 - 25px);
    padding: 40px 10px;
    margin-right: 25px;
  }
}
@media (max-width: 768px) {
  .headerMain {
    height: 70vh;
  }

  .titleContainer h1 {
    margin-top: 50px;
  }

  .hideMobile {
    display: none;
  }

  .headerNav {
    position: relative;
    top: 0;
    right: 0;
  }
  .headerNav i {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 1.6rem;
    color: black;
    visibility: visible;
  }

  .headerContent .imgContainer {
    height: 300px;
    width: 100%;
  }
  .headerContent .imgContainer img {
    -webkit-box-shadow: 5px 5px 1px white;
            box-shadow: 5px 5px 1px white;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1rem;
  }

  p, span {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

  button {
    font-size: 0.8rem;
  }

  .bioSection p {
    width: 100%;
  }

  .aboutSection .textContainer.favThings {
    margin: 0;
    width: 50%;
  }
  .aboutSection .textContainer.travelled {
    margin-right: 25px;
    width: 50%;
  }

  .journeySection article {
    width: 70%;
    margin-left: 25px;
  }

  .gallery {
    padding: 25px 0;
  }

  /* Blog Section Media Queries (Max-Width: 768px) */
  .headerBlog .headerNav {
    height: 10vh;
    position: relative;
    top: 0;
    right: 0;
  }
  .headerBlog .headerNav i {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 1.6rem;
    color: black;
    visibility: visible;
  }

  .blogContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .blogContainer .asideFlex {
    width: 100%;
    text-align: center;
    margin-right: 0;
  }
  .blogContainer .asideFlex img {
    margin: 0 auto;
  }
  .blogContainer .asideFlex aside {
    text-align: center;
    padding: 20px;
  }

  .aboutSophie {
    margin: 0;
    margin-right: 0;
  }

  .asideFlex .recentPosts {
    margin-right: 0;
  }

  .recentPosts ul {
    width: 50%;
    margin: 0 auto;
  }
  .recentPosts ul li {
    text-align: left;
  }

  .blogContainer .articleFlex {
    width: 100%;
    margin: 0;
    margin-left: 0;
  }

  .reviewContainer {
    width: 100%;
    margin: 25px 0;
  }
  .reviewContainer .reviewText {
    padding: 5px;
  }

  /* Contact Section Media Queries (Max-Width: 768px) */
  .headerContact .headerNav {
    height: 10vh;
    position: relative;
    top: 0;
    right: 0;
  }
  .headerContact .headerNav i {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 1.6rem;
    color: black;
    visibility: visible;
  }

  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactContainer aside {
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
    margin-right: 0;
  }
  .contactContainer .formContainer {
    width: 100%;
  }
}
@media (max-width: 650px) {
  h1 {
    font-size: 3.8rem;
    line-height: 4.3rem;
    margin: 0;
  }

  .headerContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
  }

  .headerContent .imgContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .titleContainer img {
    display: none;
  }

  .aboutSection .aboutFlexContainer {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .aboutSection .textContainer.favThings {
    padding: 0;
    margin-left: 0;
    margin-top: 75px;
  }

  .aboutFlexContainer .textContainer {
    padding: 0;
    margin-right: 0;
  }

  .aboutFlexContainer .textContainer.favThings,
.aboutFlexContainer .textContainer.travelled {
    width: 80%;
    text-align: center;
  }

  .aboutFlexContainer .textContainer.travelled {
    margin-right: 0;
    margin-top: 0;
  }

  .imgContainer.doodle {
    width: 80%;
    margin: 0;
  }
  .imgContainer.doodle img {
    -webkit-box-shadow: -10px 30px 1px #a82706;
            box-shadow: -10px 30px 1px #a82706;
  }

  .imgContainer.umbrellas {
    width: 80%;
    margin: 0;
  }
  .imgContainer.umbrellas img {
    -webkit-box-shadow: 10px 30px 1px #f6a823;
            box-shadow: 10px 30px 1px #f6a823;
    margin-top: 25px;
  }

  .servicesSection .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0;
    text-align: center;
  }
  .servicesSection .flexContainer .container {
    width: 100%;
    margin-left: 0;
  }

  .iconBox {
    -ms-flex-item-align: center;
        align-self: center;
    margin: 20px 0;
  }

  .imgBreak {
    height: 40vh;
  }

  .journeySection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .journeySection article {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .journeySection .imgContainer {
    width: inherit;
  }

  /* Blog Section Media Queries (Max-Width: 650px) */
  header.headerBlog .background h1 {
    bottom: -40px;
    left: 70px;
  }

  .recentPosts ul {
    width: 60%;
    margin: 0 auto;
  }
  .recentPosts ul li {
    text-align: left;
  }

  input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  textarea {
    display: block;
    width: 100%;
  }

  /* Contact Section Media Queries (Max-Width: 650px) */
  header.headerContact .background h1 {
    bottom: -40px;
    left: 70px;
  }
}
@media (max-width: 375px) {
  .bioSection {
    height: inherit;
    margin: 50px 0;
    text-align: center;
  }

  .aboutSection .aboutFlexContainer {
    height: 80vh;
    margin-top: 0;
  }

  .doodle, .umbrellas {
    height: 20vh;
  }

  .journeySection article {
    padding: 0;
  }

  .gallery ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  /* Blog Section Media Queries (Max-Width: 375px) */
  .recentPosts {
    margin-right: 0;
    padding: 10px;
  }
  .recentPosts ul {
    width: 100%;
  }

  .reviewContainer .julia .imgContainer, .reviewContainer .jeremy .imgContainer {
    display: none;
  }

  /* Contact Section Media Queries (Max-Width: 375px) */
  header.headerContact .background h1 {
    bottom: -80px;
    left: 80px;
  }
}